.group{
    display:  flex;
    flex-flow: row wrap;
    margin-right: 70px;
}
.productWrapper{
    margin:2%;
    border:1px solid black;
    border-radius: 20px;
    padding: 3%;
    display:  flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
    margin-left: 30px;
}
.productInfo{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.imagen {
    width: 150px;
    height: 30vh;
    margin: 10px;
}
.agregar{
    margin: 10px;
}
#mainContainer{
    display:flex;

}
#productos{
    display: flex;
    margin-top:10px;
    padding: 3%;
    flex-wrap: wrap;
    width:100%;
    margin-left: 20px;
}

.container_table{
      width: 40%;
      display: flex;
      flex-flow: column;
     text-align: center;
     background-color: white;
     border-radius: 10px;
 }
.container_carrito{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.titulo_carrito{
    margin: 20px;
    font-size: 20px;
}

